version: '3.8'

services:
  app:
      container_name: movie_app
      build:
        context: .
        dockerfile: Dockerfile
        args:
          DATABASE_URL: ${DATABASE_URL}
      restart: always
      ports:
        - "3000:3000"
        
      environment:
        - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public
      depends_on:
        db:
          condition: service_started
      healthcheck:
        test: ["CMD", "wget", "--spider", "-q", "http://localhost:3000/api/health"]
        interval: 30s
        timeout: 10s
        retries: 3
  db:
    image: postgres:15-alpine
    container_name: movie_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: